/* .graphContainer {
  max-width: 20rem;
  max-height: 30rem;
  position: fixed;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
} */

.graphContainer {
  display: grid;
  max-width: 80rem;
  max-height: 70rem;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  justify-items: stretch;
  row-gap: 0;
  column-gap: 0;
}

/* .graphItem {
  /* height:20px;
  width:10px;
  color:blue; */
  /* max-width: 20rem;
  max-height: 30rem;
  top:50%;
  width:10;
  height:10;
  line-height: 2rem;
  margin:0;
} */
