/* .graphContainer {
  max-width: 20rem;
  max-height: 30rem;
  position: fixed;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
} */


.graphContainer {
  display: grid;
  max-width: 20rem;
  max-height: 30rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 1fr 1fr;
}